.msg_info
  span.name #{post.author.name}
  if post.author.name==user.name
    .tool
      a(href="#").edit
        i.icon-edit.icon-large
      a(href="#").remove
        i.icon-remove.close
  span.time #{post.date.getHours()}: #{post.date.getMinutes()}&nbsp;&nbsp;
  //span.date #{post.date.getMonth()+1} - #{post.date.getDate()}

  .clearfix  
.msg_show
  if  !(post.photo.length||post.music.length||post.video.length||post.link.length)
    include text
  if  post.photo.length
    include photo

.msg_interactive
  span.tags
    i.icon-tags 心情
  a(href="#").reply
    i.icon-comments.icon-large
      span.num 333324345
  a(href="#").retweet
    i.icon-retweet.icon-large
      span.num 3332434
  a(href="#").like
    i.icon-heart.icon-large
      span.num 343332434